.NoteItem {
    border-left: 0.2rem solid var(--primary-300);
    box-shadow: var(--shadow-2);
}

.NoteItem a {
    color: var(--primary-600);
}

.btnWrapper {
    text-align: center;
}

.tohide {
    color: var(--grey-600);
}

@media screen and (max-width:800px) {
    .tohide { display: none; }
  }